@import "tailwindcss";

@theme inline {
    /* Core palette */
    --color-background:               var(--background);
    --color-black:                    var(--black);
    --color-grey:                     var(--grey);
    --color-davy-green:               var(--davy-green);
    --color-davy-grey:                var(--davy-grey);
    --color-white:                    var(--white);
    --color-foreground:               var(--foreground);

    /* Navbar */
    --color-navbar-ring:              var(--navbar-ring);
    --color-navbar-border:            var(--navbar-border);
    --color-navbar-accent-foreground: var(--navbar-accent-foreground);
    --color-navbar-accent:            var(--navbar-accent);
    --color-navbar-primary-foreground:var(--navbar-primary-foreground);
    --color-navbar-primary:           var(--navbar-primary);
    --color-navbar-foreground:        var(--navbar-foreground);
    --color-navbar:                   var(--navbar);

    /* Forms & rings */
    --color-ring:                     var(--ring);
    --color-input:                    var(--input);
    --color-border:                   var(--border);

    /* Intent colours */
    --color-destructive:              var(--destructive);
    --color-accent-foreground:        var(--accent-foreground);
    --color-accent:                   var(--accent);
    --color-muted-foreground:         var(--muted-foreground);
    --color-muted:                    var(--muted);
    --color-secondary-foreground:     var(--secondary-foreground);
    --color-secondary:                var(--secondary);
    --color-primary-foreground:       var(--primary-foreground);
    --color-primary:                  var(--primary);

    /* ─────────── RosterSlot states ─────────── */
    --color-slot-online:              var(--slot-online);
    --color-slot-offline:             var(--slot-offline);
    --color-slot-both:                var(--slot-both);
    --color-slot-available:           var(--slot-available);
    --color-slot-booked-online:       var(--slot-booked-online);
    --color-slot-booked-offline:      var(--slot-booked-offline);
    --color-slot-blocked:             var(--slot-blocked);

    /* ─────────── Calendar events ─────────── */
    --color-event-purple:             var(--event-purple);
    --color-event-green:              var(--event-green);
    --color-event-moss-green:         var(--event-moss-green);
    --color-event-gold:               var(--event-gold);
    --color-event-blue:               var(--event-blue);
    --color-event-brown:              var(--event-brown);

    /* ─────────── Calendar events ─────────── */
    --color-button-primary:           var(--button-primary);
    --color-button-secondary:         var(--button-secondary);
}

:root {
    /* ─────────── Core variables ─────────── */
    --radius:            0.625rem;
    --background:        #131315;
    --black:             #000000;
    --grey:              #4C4C4C;
    --davy-green:        #607447;
    --davy-grey:         #9E9E9E;
    --white:             #FFFFFF;
    --foreground:        #FBFBFB;
    --primary:           #EBEBEB;
    --primary-foreground:#343434;
    --secondary:         #454545;
    --secondary-foreground:#FBFBFB;
    --muted:             #60646C;
    --muted-foreground:  #757575;
    --accent:            #8FBBE8;
    --accent-foreground: #FBFBFB;
    --destructive:       #DC2626;
    --border:            #3F3F46;
    --input:             #505057;
    --ring:              #1f1f21;

    /* Navbar */
    --navbar:            #343434;
    --navbar-foreground: #FBFBFB;
    --navbar-primary:    #7C4DFF;
    --navbar-primary-foreground:#FBFBFB;
    --navbar-accent:     #454545;
    --navbar-accent-foreground:#FBFBFB;
    --navbar-border:     #E0E0E0;
    --navbar-ring:       #8E8E8E;

    /* ─────────── RosterSlot state bases ─────────── */
    --slot-online:           #97CC55;
    --slot-offline:          #E76943;
    --slot-both:             #5AA9E8;
    --slot-available:        #EEEEEE;
    --slot-booked-online:    #355E80;
    --slot-booked-offline:   #80490B;
    --slot-blocked:          #C73031;

    /* ─────────── Event bases ─────────── */
    --event-purple:          #9333EA;
    --event-green:           #4E6137;
    --event-moss-green:      #DBE7CC;
    --event-gold:            #CA8A04;
    --event-blue:            #2563EB;
    --event-brown:           #A16207;

    /* ─────────── Button bases ─────────── */
    --button-primary:          #E76943;
    --button-secondary:        #FFF5F2;
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-white text-grey;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: initial;
        font-weight: initial;
        font-family: "Inter", sans-serif;
    }

    h1 { font-size: 20px; font-weight: 600; }
    h2 { font-size: 18px; font-weight: 600; }
    h3 { font-size: 16px; font-weight: 600; }
    h4 { font-size: 15px; font-weight: 500; }
    h5 { font-size: 14px; font-weight: 500; }
    h6 { font-size: 12px; font-weight: 500; }

    .scrollbar-hide {
        -ms-overflow-style: none;   /* IE & Edge */
        scrollbar-width: none;      /* Firefox */
    }
    .scrollbar-hide::-webkit-scrollbar {
        display: none;              /* Chrome, Safari, Opera */
    }
}
